<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "commons/fragments::head">
</head>
<body class="add-book">
  <nav th:replace = 'commons/fragments::nav'
      >

      </nav>
    <h1 class="mb-5 mt-3 text-center text-white">Add Book</h1>
    <form class="book-form m-auto" th:method="post"
    th:action="@{/book/add}"
    th:object="${bookAddDto}">
        <div class="mb-3">
          <label for="title" class="form-label text-white">Title</label>
          <input name="title" type="text" class="form-control" id="title" th:field="*{title}">
            <p class="errors alert alert-danger"  th:if="${#fields.hasErrors('title')}"
               th:errors="*{title}">
            </p>
        </div>
        <div class="mb-3">
          <label for="author" class="form-label text-white">Author</label>
          <input type="text" class="form-control" id="author" name="author" th:field="*{author}">
            <p class="errors alert alert-danger"  th:if="${#fields.hasErrors('author')}"
               th:errors="*{author}">
            </p>
        </div>

        <div class="mb-3">
          <label for="summary" class="form-label text-white">Summary</label>
          <textarea class="form-control" id="summary" name="summary" rows="5" th:field="*{summary}"></textarea>
        </div>

          <div class="mb-3">
            <label for="audienceType" class="form-label text-white">Select Audience Type</label>
            <select th:field="*{audienceType}"  class="form-select" aria-label="Default select example" id="audienceType"
            >
            <option selected value=" ">Select Audience Type</option>
            <option th:each="audience : ${T(com.example.bookstore.model.entity.enums.AudienceType).values()}" th:value="${audience}" th:text="${audience}">One</option>
          </select>
              <p class="errors alert alert-danger"  th:if="${#fields.hasErrors('audienceType')}"
                 th:errors="*{audienceType}">
              </p>
          </div>

        <div class="mb-3">
            <div class="form-group p-3 checkboxGenre">

                <label class="p-2" for="genres">Genres:</label>
                <div th:each="g : ${T(com.example.bookstore.model.entity.enums.GenreType).values()}">
                <input class="m-3" type="checkbox" th:field="*{genres}"
                        id="genres"
                       th:value="${g}" th:text="${g}">
                </div>
                <br>

            </div>
            <p class="errors alert alert-danger"  th:if="${#fields.hasErrors('genres')}"
                      th:errors="*{genres}">
        </p>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label text-white">Price: </label>
            <input name = "age" th:field="*{price}" type="number" class="form-control" id="age" min="0">
            <p class="errors alert alert-danger"  th:if="${#fields.hasErrors('price')}"
               th:errors="*{price}">
            </p>
        </div>
        <button type="submit" class="btn btn-primary btn-lg add-book-btn">Submit</button>
      </form>

  <footer th:replace = "commons/fragments::footer"></footer>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
</body>
</html>