<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "commons/fragments::head">
</head>
<body class="contacts">
    <nav th:replace = "commons/fragments::nav"
  >
  </nav>

  <section class="contact-section">
    <div class="email-div">
        <h2 class="heading-contacts">
            Contacts:
        </h2>
        <p class="phone">Phone: +359 888 88 88 88</p>
        <p class="email">Email: email@example.com</p>
        <div class="social-media">
            <span><i class="fa-brands fa-facebook"></i></span>
            <span><i class="fa-brands fa-instagram"></i></span>
            <span><i class="fa-brands fa-twitter"></i></span>
            <span><i class="fa-brands fa-linkedin"></i></span>
            <span><i class="fa-brands fa-github"></i></span>
          </div>
    </div>
    <div class="address-div">
        <h2 class="heading-address">
            Address:
        </h2>
        <p class="address">2333 Mulberry Lane,</p>
        <p> Boynton Beach</p>
    </div>
  </section>
    <footer th:replace = "commons/fragments::footer"></footer>
  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
</body>
</html>