<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/fragments:: head">
</head>
<body class="all-books-info">
<nav th:replace="commons/fragments::nav">
</nav>
<section class="all-books">

  <section id="book-section">
    <div class="book" id="bookList" th:each="book : ${booksGenre}"
         th:object="${book}">
      <div class="book-info" id="book-info">
        <h2 class="title-heading" id="title-heading" th:text = "*{title}">Example Heading</h2>
        <h3 class="author-heading" id="author-heading" th:text = "*{author}">Example author</h3>
        <h4 class="genre-heading" id="genre-heading" th:each="g : *{genres}" th:text="${g.toLowerCase()}">Example genre</h4>
        <p class="summary-book" id="summary" th:text="*{summary}">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel magni
          vero nostrum temporibus enim dolore, quae facere error repudiandae a
          deleniti minima nisi expedita animi praesentium at assumenda autem
          ratione? Quasi placeat corporis laboriosam, id perferendis repudiandae
          ab magni
        </p>
        <a th:href="@{/books/details/{id}(id = *{id})}" class="btn btn-secondary">Details</a>
<!--        <a th:href="@{/books/science-fiction/favourites/add/{id}(id = *{id})}" class="btn btn-dark btn-lg buy-btn">Add to favourites</a>-->

      </div>
      <div class="img-book" id="img-div">
        <img src="/images/default.avif" alt="img-book" id="img-book">
      </div>
    </div>
  </section>
</section>

<footer th:replace="commons/fragments::footer"></footer>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"
></script>
</body>
</html>
