<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/fragments::head">
</head>
<body class="learn-more">
    <nav th:replace="commons/fragments::nav"></nav>


        <h1>Best selling book of all time</h1>
    <section class="learn-more-section">
        <div class="div-info">
            <p class="learn-more-info">
                A Tale of Two Cities is a historical novel published in 1859 by Charles Dickens, set in London and Paris before and during the French Revolution. The novel tells the story of the French Doctor Manette, his 18-year-long imprisonment in the Bastille in Paris, and his release to live in London with his daughter Lucie whom he had never met. The story is set against the conditions that led up to the French Revolution and the Reign of Terror.
                As Dickens's best-known work of historical fiction, A Tale of Two Cities is said to be one of the best-selling novels of all time.[2][3][4] In 2003, the novel was ranked 63rd on the BBC's The Big Read poll.[5] The novel has been adapted for film, television, radio, and the stage, and has continued to influence popular culture.
                Picture a bleak and foggy London as messenger Jerry Cruncher embarks on a journey to Tellson’s Bank. His task? To deliver an enigmatic message to Jarvis Lorry, who’s on a mail coach struggling up Shooter’s Hill, accompanied by two shadowy figures.

                Lorry eventually reaches Dover and takes refuge at the Royal George Hotel. There, he encounters Lucie Manette, a forlorn young Frenchwoman, who imparts the grim news that her father, Dr. Alexandre Manette, presumed dead after languishing for nearly two decades in the Bastille, has miraculously resurfaced. Lorry reveals his own role in spiriting Lucie away from France when she was a small child while her father remained oblivious.

                In the desolate streets of Paris, they discover Dr. Manette laboring away in a squalid garret above Defarge’s wine shop, cobbling shoes with a vacant stare. He’s a man robbed of his memory and his daughter. Initially, he fails to recognize Lorry, but eventually, a flicker of recognition lights up his eyes.

                In a poignant moment, Lucie steps forth and unveils herself as his daughter, and in that instant, the pall of forgotten memories is lifted. Dr. Manette regains his senses, but the scars of his brutal captivity linger, both in his mind and on his frail body. Time for joy is brief, for the looming threat of discovery forces them to whisk Dr. Manette away from Paris under the shroud of night.

            </p>
        </div>
        <div class="div-img">
            <img src="/images/XL.jpg" class="img-fluid" alt="learn-more-img">
        </div>
    </section>
    <footer th:replace="commons/fragments::footer"> </footer>
</body>
</html>