<!DOCTYPE html>
<html lang="en">
  <head th:replace = "commons/fragments::head">
  </head>
  <body class="profile">
    <nav th:replace = "commons/fragments::nav">
    </nav>
    <section class="profile-section">
      <div class="user-img">
        <img
          src="/images/kisspng-computer-icons-google-account-user-profile-iconfin-png-icons-download-profile-5ab0301e32cb90.1777380215214960942081.png"
          alt=""
        />
      </div>
      <div class="profile-info" th:object="${user}">
        <div class="full-name-info">
          <h3 class="full-name-heading">Full Name</h3>
          <span class="full-name" th:text = "*{fullName}">Vanesa Ilieva</span>
        </div>
        <div class="username-info">
          <h3 class="username-heading">Username</h3>
          <span class="username" th:text="*{username}">Vanesa06</span>
        </div>
        <div class="age-info">
          <h3 class="age-heading">Age</h3>
          <span class="age" th:text="*{age}">20</span>
        </div>
        <div class="user-info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
          cupiditate reiciendis cumque vitae. Architecto assumenda fugiat quo
          omnis saepe, doloremque unde ad hic praesentium neque voluptatem
          quidem, ipsum
        </div>
        <div class="social-media">
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>

      </div>
    </section>

    <footer th:replace = "commons/fragments::footer"></footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
