<!DOCTYPE html>
<html lang="en">
<head th:fragment = "head">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"
  />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<nav class="navbar bg-transparent border-body" th:fragment="nav">
  <div class="container">
    <a class="navbar-brand logo" href="#"
    ><span>VLibrary</span>
      <img
              src="/images/—Pngtree—open book decoration illustration_4603005.png"
              alt="logo"
              class="logo-img"
      />
    </a>
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <a class="navbar-brand logo" href="#"
        ><span>VLibrary</span>
          <img
                  src="/images/—Pngtree—open book decoration illustration_4603005.png"
                  alt="logo"
                  class="logo-img"
          />
        </a>
        <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/users/register}"
            >Register</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/users/login}"
            >Login</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/admin}"
            >Admin</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/book/add}"
            >Add Book</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/offer/add}"
            >Add Offer</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/cart}"
            >Cart</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/books/favourites}"
            >Favourites</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/users/profile/{id}(id = ${@currentUser.id})}"
            >Profile</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/about}"
            >About us</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/contacts}"
            >Contacts</a
            >
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/offers/all}"
            >All Offers</a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/books/all}"
            >All Books</a
            >
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input
                  class="form-control me-2 search-bar"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>

<footer class="footer bg-blur" th:fragment = "footer">
  <div class="container-fluid text-center">
    <div class="h5 text-white footer-info">
      <a class="navbar-brand logo logo-footer" href="#"
      ><span>VLibrary</span> <img src="/images/—Pngtree—open book decoration illustration_4603005.png" alt="logo" class="logo-img">
      </a>

      <div class="follow-us">
        <h5>Follow us</h5>
        <span><i class="fa-brands fa-facebook"></i></span>
        <span><i class="fa-brands fa-instagram"></i></span>
        <span><i class="fa-brands fa-twitter"></i></span>
        <span><i class="fa-brands fa-linkedin"></i></span>
        <span><i class="fa-brands fa-github"></i></span>
      </div>
      <div class="copy-right">
        &copy; Vanesa Ilieva Spring Advanced 2023 September. All rights reserved.
      </div>
    </div>
  </div>
</footer>
</body>
</html>